<footer class="footer">
  <img class="logo" src="/assets/images/footer-logo.svg" alt="footer-logo">
  <ul class="first">
    <li>Project</li>
    <li><a href="#">ReadMe</a></li>                   <!-- TODO: Add Link -->
    <li><a href="#">Contributing guidelines</a></li>  <!-- TODO: Add Link -->
    <li><a href="a">Code of conduct</a></li>          <!-- TODO: Add Link -->
  </ul>
  <ul class="second">
    <li>Community</li>
    <li><a href="#">Contact</a></li>  <!-- TODO: Add Link -->
    <li><a href="#">Discord</a></li>  <!-- TODO: Add Link -->
    <li><a href="#">Github</a></li>   <!-- TODO: Add Link -->
  </ul>
</footer>