<footer class="footer">
  <img class="logo" src="/assets/images/footer-logo.svg" alt="footer-logo">
  <ul class="first">
    <li>Project</li>
    <li><a href="https://github.com/squashql/squashql" target="_blank">ReadMe</a></li>
    <li><a href="https://github.com/squashql/squashql/blob/main/CONTRIBUTING.md" target="_blank">Contributing guidelines</a></li>
    <li><a href="https://github.com/squashql/squashql/blob/main/CODE-OF-CONDUCT.md" target="_blank">Code of conduct</a></li>
  </ul>
  <ul class="second">
    <li>Community</li>
    <li><a href="#">Contact</a></li>  <!-- TODO: Add Link -->
    <li><a href="https://discord.gg/p7dg2wEwFs" target="_blank">Discord</a></li>
    <li><a href="https://github.com/squashql/squashql" target="_blank">Github</a></li>
  </ul>
</footer>