$duration: 1s;

@keyframes slidein {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideup {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  opacity: 0;
  transform: translateX(-100px);
}
.slide-in.to-left {
  transform: translateX(100px);
}
.slide-in.visible {
  animation: slidein $duration forwards;
}

.slide-up {
  opacity: 0;
  transform: translateY(100px);
}
.slide-up.visible {
  animation: slideup $duration forwards;
}